<div class="row">
<div class="col-md-8">
<ul>
    <%@posts.each do |post| %>
    <div class="story">
        <li class="story_color line_1"><%=link_to post.title, post%></li>
        <li class="story_color lines">
            <button type="button" class="btn btn-warning"> Scary </button> (<%=post.get_upvotes.size%>)
            <button type="button" class="btn btn-success"> Not Scary</button> (<%=post.get_downvotes.size%>) 
            <button type="button" class="btn btn-default"> Comments </button> (<%=post.comments.count%>)
        </li>
        <li class="story_color lines lines_created">Created by <%=post.user.name%> on <%=post.created_at.strftime("%B %d, %Y")%> at <%=post.created_at.strftime('%r')%> </li>
        <li class="story_color lines lines_2">Category: <%=post.category.area%></li>
        
    </div>
    <%end%>
<ul>
<%= will_paginate @posts %>
</div>

<div class="category_list col-md-4">
<ul class="list-group">
    <li class="list-group-item" id="category_heading"> Categories </li>
    <% @categories.each do |category| %>
        <li class="list-group-item"><%=link_to category.area, posts_path(category: category.area) %></li>
    <%end%>
</ul>
</div>
</div>
